body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    height: 200vh; 
    overflow-x: hidden; 
}
a {
    text-decoration: none; 
    color: black; 
}
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative; 
}


.video-bg-container {
    background-color: black;
    height: 100vh;
    width: 100%;
    align-items: center; 
}

#video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.blur {
    background-color: white;
    height: 60px;
    width: 100%;
    z-index: +1;
    position: fixed; 
    top: 0; 
    left: 0; 
    opacity: 0.8; 
    filter: blur(20px); 
}
    

.black-bg {
    background-color: black;
    height: 90vh;
    width: 100%;
    margin-top:-4px;
}

.transparent-bg {
    background-color: white;
    height: 79vh; 
    width: 92vw; 
    padding: 30px;
    opacity: 0.4;
    position: absolute;
   
    top: 54%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
}
