
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end; /* Align items to the right */
    align-items: center;
    background-color: #fff;
    padding: 20px 20px 20px 0; /* Add padding to the right side */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    position: relative;
    text-decoration: none;
    color: black;
    font-size: 20px; /* Use fixed value in pixels */
    letter-spacing: 0.5px;
    padding: 0 40px; /* Use fixed value in pixels */
    font-family: 'Oswald';
    font-weight: bold;
}

.navbar a:after {
    content: "";
    position: absolute;
    color: #ffffff;
    background-color: black;
    height: 4px; /* Use fixed value in pixels */
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.navbar a:hover {
    color: black;
}

.navbar a:hover:after {
    width: 100%;
}

/* Small screens */
@media (max-width: 576px) {
    .navbar {
        /* Adjust navbar styles for small screens */
    }
}

/* Medium screens */
@media (min-width: 577px) and (max-width: 768px) {
    .navbar {
        /* Adjust navbar styles for medium screens */
    }
}

/* Large screens */
@media (min-width: 769px) and (max-width: 992px) {
    .navbar {
        /* Adjust navbar styles for large screens */
    }
}

/* Very large screens */
@media (min-width: 993px) {
    .navbar {
        /* Adjust navbar styles for very large screens */
    }
}


.spacer {
    flex: 1; /* Take up remaining space */
}

.nav-links {
    display: flex;
    align-items: center;
}

.divider {
    width: 1px;
    height: 20px; /* Adjust the height of the divider */
    background-color: #ccc; /* Use a color for the divider */
    margin: 0; /* Add some spacing around the divider */
}

.signup {
    margin-right: 5px; /* Add a small margin to the right of the "Sign up" link */
}

.signup,
.login {
    margin-left: 5px; /* Add a small margin to the left of the "Login" link */
}